<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Opera Redesign

		meta(name="viewport" content="width=device-width, initial-scale=1")

		link(rel="stylesheet" href="css/bootstrap.min.css") 
		link(rel="stylesheet" href="css/all.css") 
		link(rel="stylesheet" href="css/animate.css") 

		link(href="https://fonts.googleapis.com/css?family=Rokkitt|Ubuntu" rel="stylesheet" type="text/css")

	body
		.container
			header.navbar.navbar-fixed-top.header
				figure.navbar-header
					a(href="index.html").navbar-brand
						img(src="images/logo.png", alt="logotipo, clicar aqui volta pra home page")
			
					button(type="button" data-target=".navbar-collapse" data-toggle="collapse").navbar-toggle 
						span.glyphicon.glyphicon-align-justify
				
				nav.collapse.navbar-collapse.navbar-right
					ul.nav.navbar-nav.text-center
						li
							a(href="") Agência
						li
							a(href="") O que fazemos
						li
							a(href="") Cases
						li
							a(href="") Clientes
						li
							a(href="") Contato
		.banner
			div.container.banner-msg.text-center
				h1.wow.bounceInLeft Olá, somos a 
					span Ópera!

				h2.wow.bounceInRight(data-wow-delay=".8s") Procurando soluções em 
					span publicidade 
					| e 
					span marketing digital? 
					br
					| Nós temos as melhores!

				a(href="#").wow.bounceIn(data-wow-delay="2s") Saiba mais
			
		.container
			main
				.row
					section.we-do
						header
							h2 O que fazemos

						section.thumbnails.text-center.we-do-card.col-lg-4.col-md-6.wow.bounceInUp(data-wow-delay=".8s")
							header
								figure
									img(src="../images/website.svg", alt="")

								h3 Criação de sites

							article
								p Ainda não tem um site? Conte com nosso serviço de criação e desenvolvimento de websites. Seu site será construído e otimizado seguindo as melhores práticas e técnicas de criação de sites.

							footer
								button(type="button").btn Saiba mais

						section.thumbnails.text-center.we-do-card.col-lg-4.col-md-6.wow.bounceInUp(data-wow-delay=".9s")
							header
								figure
									img(src="../images/magnifying-glass.svg", alt="")

								h3 Consultoria SEO

							article
								p As pessoas procuram por produtos e serviços na Internet e não te acham? Já imaginou quantos clientes você está perdendo? Deixe a Ópera cuidar disso para você e faça sua empresa ser encontrada na internet.
							
							footer
								button(type="button").btn Saiba mais

						section.thumbnails.text-center.we-do-card.col-lg-4.col-md-6.wow.bounceInUp(data-wow-delay="1s")
							header
								figure
									img(src="../images/form.svg", alt="")

								h3 Análise de Métricas

							article
								p Conhece o potencial do site de sua empresa? Saiba de onde os seus clientes são, quem procura seus produtos, a partir de quais canais, e planeje suas estratégias de marketing. Pontencialize os resultados a partir do seu site!

							footer
								button(type="button").btn Saiba mais

						section.thumbnails.text-center.we-do-card.col-lg-4.col-md-6.wow.bounceInUp(data-wow-delay="1.3s")
							header
								figure
									img(src="../images/facebook.svg", alt="")

								h3 Facebook Ads

							article
								p Anunciando no Facebook você pode segmentar e conseguir trazer novos clientes interessados no seu produto / serviço. Aumentar a exposição da sua marca ou até mesmo da sua Página com o aumento de fãs, obtendo resultados satisfatórios.

							footer
								button(type="button").btn Saiba mais

						section.thumbnails.text-center.we-do-card.col-lg-4.col-md-6.wow.bounceInUp(data-wow-delay="1.4s")
							header
								figure
									img(src="../images/browser.svg", alt="")

								h3 Google Adwords

							article
								p A maneira mais rápida de aparecer em resultados de busca no Google é através do AdWords – os Links Patrocinados. A Agência Ópera cria e gerencia campanhas específicas para atingir o público que está procurando por sua empresa e por seus produtos e serviços.

							footer
								button(type="button").btn Saiba mais

						section.thumbnails.text-center.we-do-card.col-lg-4.col-md-6.wow.bounceInUp(data-wow-delay="1.5s")
							header
								figure
									img(src="../images/megaphone.svg", alt="")

								h3 Campanhas

							article
								p Criou um negócio? Então você precisa de uma campanha publicitária para atrair clientes e obter lucros. Todas as ações e peças da campanha são planejadas estrategicamente pela a Agência Ópera para atender suas necessidades.

							footer
								button(type="button").btn Saiba mais

			.container
				.row
					section.google-partner
						header
							h3 Trabalhe com um parceiro Google

						section
							.google-partner-text
								p A Agência Ópera é certificada pelo Google e pode ajudar a sua empresa com a sua presença digital e publicidade online como Adwords, Display Ads e demais ferramentas.

								p Conte com a Agência Ópera, reconhecida como agência participante do programa de agências parceiras do Google - Google Partners.

							.google-partner-img
								img(src="", alt="")
			
			.container
				.row
					section.cases
						section.cases-model
							.cases-model-main-img
								img(src="", alt="")

							header
								h1 Name Company

							article
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quidem debitis sint beatae eveniet odio vitae. A eum ipsam molestiae, magni, ea quae facilis sed numquam obcaecati debitis accusamus quisquam!

							footer
								a(href="").btn.btn-primary Visitar site
			
			.container
				.row
					section.clients
					.clients-card
						img(src="", alt="")

		.container
			.row
			section.contact
				h2 Contato

				section
					p Preencha os campos abaixo, nos envie a sua mensagem e aguarde. Entraremos em contato em breve. Se estiver interessado em trabalhar na Ópera envie o seu currículo com portfólio para contato@agenciaopera.com.br. 
					
					form(action="" method="")
						fieldset
							legend Entre em contato conosco!
							
							div.col-sm-6.col-md-6.col-lg-6
								.form-group
									label(for="nome") Nome
									input(type="text").form-control
								
								.form-group
									label(for="email") Email
									input(type="email").form-control

								.form-group
									label(for="tel") Telefone
									input(type="tel").form-control

								.form-group
									label(for="msg") Mensagem
									textarea.form-control

								.form-group
									button.btn.btn-success Enviar

							div.contact-info.col-sm-6.col-md-6.col-lg-6
								ul
									li 
										span.glyphicon.glyphicon contato@agenciaopera.com.br
									li 
										span.glyphicon.glyphicon R. Barão de São Borja, 62, Edf. Sigma Center Sala 201 - Boa Vista, Recife - PE
									li 
										span.glyphicon.glyphicon (81) 3034-8811

			.contact-localization
		
		.container
			.row
				footer.navbar
				.container-fluid
					p &copy; 2016 Agência Ópera. Todos os direitos reservados.

		script(rel="text/javascript" src="js/jquery-2.2.0.min.js")
		script(rel="text/javascript" src="js/bootstrap.min.js")
		script(rel="text/javascript" src="js/wow.min.js")
		script(rel="text/javascript" src="js/all.js")
		script
			| new WOW().init()
